@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Components

<button onclick="@onclick" onkeydown="@onkeydown">@ChildContent</button>

@functions {
    [Parameter] private Action onclick { get; set; }
    [Parameter] private RenderFragment ChildContent { get; set; }
    [Parameter] private Action<UIKeyboardEventArgs> onkeydown { get; set; }
}
